name: Cek Kualitas Infrastruktur

on:
  push:
    branches: [ "main" ]

jobs:
  terraform:
    name: 'Simulasi Terraform'
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Terraform Init
      run: terraform init
      working-directory: ./terraform

    - name: Terraform Validate
      run: terraform validate
      working-directory: ./terraform
